@charset "ISO-8859-1";

body {
    font-family: "Ms Madi", cursive;
    background-image:url(https://th.bing.com/th/id/OIP.gOkp87GLQkLae0QY2u-HogHaE7?pid=ImgDet&rs=1);
  }
  
  #form {
    width: 350px;
    height: 400px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background: whitesmoke;
    color: black;
    border-radius: 10px;
    font-size: 12px;
    
  }
  
 
  
  #form button {
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    width: 200px;
    color: white;
    background: linear-gradient(to top left, #afcfb7, #69916a, #2c642d);
    border: none;
    border-radius: 4px;
    
    
  }

  
  #sub:hover {
    cursor: pointer;
    opacity: 0.8;
  }
  
  .input-control {
    display: flex;
    flex-direction: column;
  }
  
  .input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
    font-weight:bold;
  }
  
  .input-control input:focus {
    outline: 0;
  }
  
  .input-control.success input {
    border-color: aqua;
  }
  
  .input-control.error input {
    border-color: #ff3860;
  }
  
  .input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
  }
  
  .container{
    display:block;
}
 
 
.container{
	margin-top:1px;
	margin-bottom:1px;
}

  
