<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
	href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap"
	rel="stylesheet" />
<!-- <link rel="stylesheet" href="./static/css/signup.css" /> -->
<link rel="stylesheet" th:href="@{/css/signup.css}" />
<script th:src="@{/js/signup.js}"></script>
<title>Registration</title>
</head>
<body>
<div class="container">
      <form id="form" th:action="@{/process_register}" method="post" th:object=${user}>
        <h1 style="color:black; text-align:center;">SIGN UP</h1>
        <div class="input-control">
          <label for="email">Email</label>
          <input id="email" name="email" type="text" th:field="*{email}" required/>
          <div class="error"></div>
        </div>
        <div class="input-control">
          <label for="password">Password</label>
          <input id="password" name="password" type="password" th:field="*{password}" required minlength="8"/>
          <div class="error"></div>
        </div>
        <button type="submit">Sign Up</button>
       
      </form>
    </div>

</body>
</html>