<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<!-- <meta charset="ISO-8859-1"> -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	
</script>
<link rel="stylesheet" type="text/css" th:href="@{/css/shopping.css}">
<title>Login</title>

</head>
<body>
<header>
<div>
      <h1>PRODUCT PAGE</h1>
      <nav>
        <ul>
          <li class="active"><a th:href="@{/home}">Home</a></li>
          <li class="active"><a th:href="@{/shopping}">Shop</a>
            <!-- <div class="sub-menu-1">
                <a class ="li" href="#">Tea Leaves</a>
                 <a class ="li" href="#">Tea Pots</a>
            </div> -->
          </li>
          <!-- <li class="active"><a th:href="@{/login}">Log In</a></li> -->
          <li class="active" method="get" th:action="@{/cart4}" ><a th:href="@{/cart}" >Cart</a></li>
        </ul>
      </nav>
    </header>
    
    <div class="grid-container">
      

      <div class ="row">
        <div class="column" >
          <div class="title">BLACK TEA</div>
          <img class = "img" th:src="@{/images/lemon-ginger.png}" alt="lemon-ginger">
          <p class="item-price">$5.5</p>
          <form method="post" role="button" th:action="@{/showAddedItem}">
          <button class="btn btn-primary" type="submit">Save to cart</button>
        </div>
        <div class="column">
            <div class="title">CHAMOMILE</div>
            <img class = "img" th:src="@{/images/chamomile.png}" alt="lemon-ginger">
            <p class="item-price">$5.5</p>
            <button  type="submit" onclick="alert('Successfully added to cart')";>ADD TO CART</button>
        </div>
        <div class="column">
          <div class="title">GREEN TEA</div>
          <img class = "img" th:src="@{/images/earlgrey.png}" alt="lemon-ginger">
          <p class="item-price">$5.5</p>
          <button  type="submit" onclick="alert('Successfully added to cart')";>ADD TO CART</button>
        </div>
      </div>

      

      
  
    <!-- <footer>
      <div class="footer">
        <p class="contactus">CONTACT US</p>
        <p >Email: kimeetea@gmail.com</p>
        <p >TEA STORE COPYRIGHT @2022</p> 
      
      </div>
   
      </footer> -->
     
    </div>
   </div>
</body>
</html>